.publish-page {
  height: calc(100vh - 64px);
  overflow: auto;

  @media (max-width: 575.98px) {
    padding: 1rem;
  }

  &-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 3rem;
    display: grid;
    grid-template-columns: 1fr 400px;
    grid-gap: 1rem;

    @media (max-width: 767.98px) {
      display: block;
    }

    @media (max-width: 575.98px) {
      padding: 1rem;
    }
  }

  &-form {
    padding: 2rem;
    box-shadow: 4px 0px 14px #37215714;
    border: 1px solid #dddddd;
    border-radius: 4px;

    @media (max-width: 767.98px) {
      margin-bottom: 2rem;

      .broadcast-btn {
        width: 100%;
      }
    }
  }

  &-history {
    padding: 2rem 0;
    box-shadow: 4px 0px 14px #37215714;
    border: 1px solid #dddddd;
    border-radius: 4px;
    width: 100%;

    h5 {
      text-align: center;
    }

    &-list {
      height: 550px;
      overflow: auto;
      padding: 0 2rem;

      &::-webkit-scrollbar {
        display: none;
      }
    }
  }
}
